<a href="https://colab.research.google.com/github/Zako-kma/python-intuit-quickbooks-project/blob/main/Carnet_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn = sqlite3.connect('contact.db')
print("Opened database successfully")
cursor = conn.cursor()

# Use CREATE TABLE IF NOT EXISTS to avoid errors if the table already exists
cursor.execute("CREATE TABLE IF NOT EXISTS contact(id INT, nom TEXT, prenom TEXT, tel TEXT, email TEXT)")

conn.commit()

cursor.close()
conn.close()

import sqlite3

conn = sqlite3.connect('contact.db')
cursor = conn.cursor()

# Correct the INSERT INTO statement with closing parenthesis and VALUES clause
# Replace the placeholder values with the actual data you want to insert
cursor.execute("INSERT INTO contact(id,nom,prenom,tel,email)VALUES('Khal','Khalil','Zako','0644351025','zkhalil@yahoo.it')")

conn.commit()
cursor.close()
conn.close()

Opened database successfully